<h1>Artists</h1>

<ul>
  <% @artists.each do |artist| %>
    <li>
    <%= link_to artist.name, artist_path(artist) %><br>
      <% if artist.song_count > 0 %>
      <h2><%= pluralize(artist.songs.count, 'song') %></h2>
      <ol>
        <% artist.songs.each do |i| %>
          <%= link_to i.title, song_path(i) %>
        <% end %>
      </ol>
      <% end %>
    </li>
    <% end %>
</ul>
