<% @artists.each do |artist| %>
  <li><%= link_to artist.name, artist_path(artist) %> - <%= artist.song_count %> songs 

	<%= link_to "Delete", artist, method: :delete, data: { confirm: "Really?" } %></li>
<% end %>
