<h1>Artists</h1>

<ul class="artist">
  <% @artists.each do |artist| %>
    <h3><%= pluralize(artist.song_count, 'song') if artist.songs %></h3>
    <li><%=link_to artist.name, artist_path(artist)%></li>
    <br>
  <% end %>
</ul>
