<!-- create the index and show page for both the artist and songs models and first 4 pages should start passing -->
<h1>All Artists</h1>

<ul>
<% @artists.all.each do |a| %>
  <li><%= link_to a.name, artist_path(a) %> <%= a.songs.count %> song</li>
<% end %>
</ul>