<h2>Artists</h2>

<ul>
  <% @artists.sort_by{|a| a.name}.each do |a| %>
    <li>
      <strong><%= link_to a.name, artist_path(a) %></strong>
       - <em><%= pluralize(a.song_count, 'song') %></em>
    </li>
  <% end %>
</ul>
