<h1>Artists</h1>

<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_path(artist) %></li>

     <h2>This artist has made <%= artist.songs.count%> songs</h2>

    # notes : artist_path(c) => "/artists/1"
  <% end %>
</ul>
