<h1><%= pluralize(@artists.count, "Artist") %></h1>

<ul>
  <% @artists.each do |artist| %>
    <li>
      <%= link_to artist.name, artist_path(artist) %>
    </li>
    <li>
      <%= pluralize(artist.song_count, 'song') %>
    </li>
  <%end%>
</ul>
