<h1>Artist Index Page</h1>

<ul>
  <% @artists.each do |t| %>
  <li><%= link_to t.name, artist_path(t) %>---<%= t.song_count %> songs</li>
  <ul><% t.songs.each do |s| %>
    <li><%= link_to s.title, song_path(s) %></li>
    <% end %>
  </ul>
  <% end %>
</ul>
