<h1>Artists</h1>
<ul>
   <% @artists.each do |a|%>
      <%= a.name%>
        <% #=link_to artist.name, artist_path(artist) %>
      <%= a.song_count%><%= " song".pluralize(a.song_count)  %>
  <% end %>

</ul>
