<% @artists.each do |artist| %>
  <%= link_to artist.name, artist_path(artist) %> <br>
  <%= pluralize(artist.song_count, 'song') %> <br>

  <ul>
  <% artist.songs.each do |song| %>
    <li><%= link_to song.title.titlecase, song_path(song) %> </li>
  <% end %>
  </ul>
<% end %>
