<h1>Artists</h1>
<h3><%= pluralize(@artist.songs.count, 'Song') %></h3>

<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_path(artist) %>: <%= artist.song_count %> song</li>
  <% end %>
</ul>
