  <h3>Artists</h3>
  <ul>
<%@artists.each do |artist|%>
  <li><%=link_to artist.name, artist_path(artist)%></li>
  <%=artist.name%> has <%= pluralize(artist.songs.count, 'Song') %></h3>
<%end%>
  </ul>
