
<h1>Artists</h1>

<% @artists.each do |a| %>
<ul>
  <li>
     <%= link_to a.name, artist_path(a) %>
     <%= pluralize(a.songs.count, "song") %>
     <% a.songs.each do |s| %>
      <ul>
        <li>
          <%= link_to s.title, song_path(s) %>
        </li>
      </ul>
      <% end %>
  </li>
</ul>
<% end %>
