<h1><%= @artist.name %></h1>

<% if !@artist.songs.empty? %>
  <ul>
    <% @artist.songs.each do |song| %>
      <li><%= link_to song.title, song_path(song) %></li>
    <% end %>
  </ul>
<% else %>
  <h3>No songs!</h3>
<% end %>
