<h1>My Artist</h1>

<h3><%= @artist.name %></h3>
<ul>
    <h3><%= @artist.songs.each do |song| %>
        <div><%= song.title %>
        <%= link_to song.title, song_path(song) %></div>>
    <% end %>
</ul>
