<h1><%= @artist.name %></h1>

<p>Song Count:<%= @artist.song_count %></p>

<ul>
    <% @artist.songs.each do |song| %>
        <li><%= link_to song.title, song_path(song) %></li>
    <% end %>

</ul>

