<h1><%= link_to "Artists", artists_path %></h1>

<h3><%= @artist.name %></h3>
<ul>
    <% @artist.songs.each do |song| %>
        <li><%= link_to song.title, song_path(song) %></li>
    <% end %>
</ul>