<h1>Songs</h1>

<h2><% @songs.each do |song| %></h2>  
  <ul><%= song.title %><br>
      <%= link_to "#{song.artist_name} - #{song.title}", song_path(song) %>
      <%= link_to song.artist_name, artist_path(song.artist) %>
  <% end %></ul>