<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_path(artist) %></li>
      <% artist.songs.each do |song| %>
        <%= link_to "#{artist.name} - #{song.title}" , song_path(song) %>
      <% end %>
  <% end %>
</ul>
