<h1><%= @song.title %></h1>
by <%= link_to @song.artist, artist_path(artist) %>

 
<h3>Artist: <%= link_to @song.artist.name, artist_path(@song.artist) if @song.artist %></h3>
 
<p><%= @artist.description %></p>